.esponja{
  border-radius: 40px;
  width: 300px; /* Ancho deseado */
  height: auto; 
  display: block; /* Asegura que la imagen se comporte como un bloque */
  margin-left: auto;
  margin-right: auto;
}